.reveal-modal {
  h2 {
    color: #99895C;
  }
  input[type="text"], input[type="email"], textarea {
    border: 1px solid #99895C;
    background-color: #FFF !important;
    color: #99895C !important;
    &::-webkit-input-placeholder {
     color: #99895C;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #99895C;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: #99895C;
    }

    &:-ms-input-placeholder {
      color: #99895C;
    }
  }
  input[type="submit"] {
    border: none;
    padding: 15px 25px;
  }
  label, .ninja-forms-req-symbol {
    color: #99895C;
    line-height: 1;
    vertical-align: top;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    background-color: #FFF;
    border: 1px solid #99895C;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0 5px 0 0;
    padding: 0;
    &:checked, &:active {
      background-color: #99895C;
      outline: none;
    }
  }
}
