form[role="search"] {
  button[type="submit"] {
    color: #99895C;
    background: transparent;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    outline: none;
    &:active {
      box-shadow: none;
      outline: none;
    }
  }
  input[type="text"] {
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #99895C;
    height: 21px;
    line-height: 1;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
    width: 115px;
    border-radius: 0;
  }
  #hidden-form-input {
    display: none;
    position: relative;
  }
}
.primary-nav .tn li {
  display: inline-block;
}
