.rsUni .rsArrowLeft .rsArrowIcn {
  //background: url(images/controls.png) no-repeat 0 -32px transparent !important;
    
    background-color: #99895C;
	background-color: rgba(153,137,92, .45);
	*background-color: #99895C;
  height: 36px;
  line-height: 16px;
  margin-top: -16px;
  text-indent: -9999px;
  width: 32px;
  z-index: 9999;
  opacity: 1 !important;
  &:hover {
	background-color: rgba(153,137,92, .8);
  }
}
.rsUni .rsArrowRight .rsArrowIcn {
  //background: url(images/controls.png) no-repeat -43px -32px transparent !important;
    
    background-color: #99895C;
	background-color: rgba(153,137,92, .45);
	*background-color: #99895C;
  height: 36px;
  line-height: 16px;
  margin-top: -16px;
  text-indent: -9999px;
  width: 32px;
  z-index: 9999;
  opacity: 1 !important;
  &:hover {
	background-color: rgba(153,137,92, .8);
  }
}
.rsUni .rsBullets {
  top: -30px;
  z-index: 1000;
  height: 25px;
  .rsBullet {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.rsUni .rsBullet span {
  background-color: #FFF;
  width: 10px;
  height: 10px;
  &:hover {
    background-color: #99895c;
  }
}
.rsUni .rsBullet.rsNavSelected span {
  background-color: #99895c;
}

@media (max-width: 640px) {
  #new-royalslider-1 {
    height: 383px !important;
  }
}
