/*
Theme Name: Andrianna Shamaris
Theme URI: http://andriannashamarisinc.com/
Author: Fuzz Interactive
Author URI: http://fuzzinteractive.com/
Description: Custom theme using foundation
Version: 0.1
Text Domain: asinc
*/
$select-bg-color: #000;

@import 'normalize';
@import 'foundation';
@import 'foundation-icons';
@import 'slider-override-styles';
@import 'search-form';
@import 'modal-form-styles';

body {
  //-webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  //-moz-osx-font-smoothing: grayscale;
}
.wrapper {
  .row {
    // padding: {
    //   top: 20px;
    //   bottom: 20px;
    // }
  }
}
.cat-cats-contain a.active {
  color: #5B5039;
}
.reveal-modal.small {
  margin-top: 30px;
}
select {
  color: #bbb;
  height: 47px;
}
.ninja-forms-required-items {
  display: none;
}
.no-favorites {
  margin: 8% 0 10% 0;
  .center-title {
    padding: 20px 0;
  }
}
#sort-btn {
  display: none;
  text-align: center;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 250px !important;
  @media (max-width: 1024px) {
    display: block;
    margin: 2rem auto;
  }
  &.open {
    border-bottom: none;
  }
}
nav.cat-cats-contain {
  padding: 20px 0 0 0;
}
.f-dropdown.global-size {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 250px !important;
  max-width: 250px;
  margin: -1px 0 0;
  padding: 0;
  border: 1px solid #99895C;
  border-top: none;
  @media (max-width: 40em) {
    margin: -1px auto 0 auto;
    &.open {
      position: static !important;
    }
  }
  &:before, &:after {
    display: none;
  }
  li {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    width: 248px;
    a {
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
      width: 248px;
      text-align: center;
      color: #99895C;
    }
  }
}
.f-dropdown.tiny {
  li {
    a {
        text-transform:uppercase;
        font-size: .7rem;
      color: #99895C;
    }
  }
}
.toppage {
    width: 100%;
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.wrap-for-load {
  position: relative;
}

section.asinc-loader {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  &.goodbye {
    display:none;
  }
}

#page-loading {
  opacity: 0;
  -webkit-transition: opacity 600ms ease-out;
  -moz-transition: opacity 600ms ease-out;
  -ms-transition: opacity 600ms ease-out;
  -o-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
    float: left;
    margin: 1rem 0;
    width: 100%;
    color: #99895C;
    // background: #99895C;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 3px;
  &.loading {
    opacity: 1;
  }
}

@media all and (max-width: 480px){
  section.asinc-loader {
    display: none;
  }
  .catalog-contain {
    opacity: 1;
  }
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message { display: none; }
