/*=MIXINs
--------------------------*/
 @mixin transition($property, $time) {
   -webkit-transition: #{$property} #{$time};
   -moz-transition: #{$property} #{$time};
   transition: #{$property} #{$time};
}

@mixin bp($point) {
  $bp-rickon: "(max-width: 480px)";
  $bp-bran: "(max-width: 600px)";
  $bp-jon: "(max-width: 768px)";
  $bp-rob: "(max-width: 1024px)";
  $bp-ned: "(max-width: 1230px)";

  @if $point == ned {
    @media #{$bp-ned} { @content; }
  }
  @else if $point == rob {
    @media #{$bp-rob} { @content; }
  }
  @else if $point == jon {
    @media #{$bp-jon}  { @content; }
  }
   @else if $point == bran {
    @media #{$bp-bran}  { @content; }
  }
   @else if $point == rickon {
    @media #{$bp-rickon}  { @content; }
  }

}

/*--------- GLOBAL ------------*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    cursor: default;
    background: #FFF;
}  

::selection {
	background: #fffeba; /* Safari */
	}
::-moz-selection {
	background: #fffeba; /* Firefox */
}

p {
    font-weight: normal;
    font-size: .8rem;
    line-height: 1.8;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

button, a, input[type="button"], input[type="submit"] {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    letter-spacing: .1rem;
    background: #99895C;
    padding: 1rem 2rem;
    color: #fff;
    text-transform:uppercase;
    @include transition('background', '0.3s');
		&:hover, &:active {
			background: #5B5039;
		}
    @include bp(rickon) {
		}
}

.btn-light {
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    letter-spacing: .1rem;
    background: #FFF;
    padding: 1rem 2rem;
    color: #99895C;
    text-transform:uppercase;
    border: 1px solid #99895C;
    @include transition('background', '0.3s');
		&:hover {
        background: #99895C;
        color: #fff;
    }
    &:active {
      background: #5B5039;
    }
    @include bp(rickon) {
        padding: 1rem 1rem;
        letter-spacing: .05rem;
		}
}

.btn-light-open {
  font-family: 'Open Sans', sans-serif;
  font-size: .6rem;
  letter-spacing: .1rem;
  background: transparent;
  padding: .5rem 2rem;
  color: #99895C;
  text-transform: uppercase;
  border: 1px solid #99895C;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  &:hover {
    background: #99895C;
    color: #fff;
  }
  &:active {
    background: #5B5039;
  }
}

.btn-white {
  font-family: 'Open Sans', sans-serif;
  font-size: .6rem;
  letter-spacing: .1rem;
  background: transparent;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  &:hover {
    background: #fff;
    color: #99895C;
  }
  &:active {
    background: #5b5039;
    color: #fff;
  }
}

.row.full-w {
	width: 100%;
	max-width: 100%;
}

.btn-bar {
  text-align: center;
  padding: 2rem 0 6rem 0;
}

.center-title {
  text-align: center;
}

.btn-bar-contact {
  text-align: center;
  padding: 2rem 0 0rem 0; }

.sort-bar {
  text-align: left;
  padding: 4rem 0 3rem 4rem; }

.center-title {
  margin-top: 2rem;
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.feature-title p {
    margin: 0;
    font-size: .6rem;
    /*background: #eee;*/
    color: #bbb;
    margin: 0 auto;
    padding: .5rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
    text-align: center;
}

.border-b {
	border-bottom: 1px solid #eee;
}
.border {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

ul {
    font-size: .8rem;
    margin: 0;
}

h1, h2, h3, h4, h4 {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  text-transform: uppercase;
}

h1 { font-size: 2rem; }

h1.white { color: #fff; }

h1.soctitle { font-size: 4rem; margin: 0 1rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1rem; }

h4 { 
    margin-top: 2rem;
    font-size: 1rem; 
    font-weight: 400;
}

h5 { font-size: 1rem; }

a {
color: #99895C;
}

a:hover { color: #5B5039; }

li {list-style:none;}

.push { margin-top: 3rem; }

/*--------- MOBILE NAV ----------*/
.closer {
	text-align: center;
	#close-btn {
		color: #99895C;
		display: inline-block;
		font-size: 1rem;
		padding: 1rem;
	}
}

#hamburglar {
  background: #000;
  position: absolute;
  font-size: 1.3rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  // padding-top: 2.55rem;
}


#ham-menu {
	background: #111;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	ul {
        margin-bottom:0;
		li {
			width: 100%;
			border-bottom: 1px solid #333;
			list-style: none;
			padding: 1rem;
			text-align: center;
			a {
				color: #99895C;
				display: inline-block;
				width: 100%;
				padding: .5rem;
				font-size: 1.5rem;
			}
		}
	}
}

/*--------- HEADER ------------*/
.branding {
	background: #fff;
	// position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4500;
	&.shrinky {
		position: fixed;
		margin-top: -170px;
		@include bp(rob) {
			position: absolute;
			margin-top: 0px;
		}
		@include bp(jon) {
			position: absolute;
			margin-top: 0;
		}
        @include bp(bran) {
			position: absolute;
			margin-top: 0;
		}
        @include bp(rickon) {
			position: absolute;
			margin-top: 0;
		}
	}
}

.logo-contain {
	text-align: center;
  padding: 4.2rem 0 0rem 0;
  width: 400px;
  margin: 0 auto;
	@media (max-width: 1230px) {
    width: 30%;
    padding: 5.2rem 0 0rem 0;
  }
  @media (max-width: 960px) {
    width: 40%;
    padding: 6rem 0 2rem 0;
  }
  @media (max-width: 768px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 70%;
  }
  @media (max-width: 480px) {
    width: 80%;
    padding: 5.2rem 0 1rem 0;
  }
}

.navbar-social {
  background: #f8f8f8;
  font-size: .75rem;
  float: center;
  color: #99895C;
  text-align: center;
  padding: .75rem;
  li {
    display: inline;
    //padding-right: .5rem;
  }
}

.phone {
    font: 'Cardo', serif;
}

.top-nav {
    padding: 1rem 0;
}

.tn-left {
	text-align: left;
    width: 33.333%;
}

.tn-center {
    text-transform:uppercase;
	text-align: center;
    width: 33.333%;
    color: #99895C;    
    font-size: .7rem;
}

.line { width: 100px; height: 1px; background: #99895C;}

.tn-center li { display:inline; }

.tn-right {
    // margin-right: 1rem;
	text-align: right;
    width: 33.333%;
}
.tn {
        line-height: inherit;
        margin:0;
        letter-spacing: .02rem;
	li {
		display: inline-block;
		@include bp(ned) {
			//margin: 0 .5rem;
		}
		a {
            font-weight:400;
            text-transform:uppercase;
            padding: .4rem 0rem;
            border-bottom: solid 3px #fff;
            margin: 0 1rem;
			font-size: .7rem;
            display: block;
        @include transition('border', '0.3s');
        &.active {
            border-bottom: solid 3px #99895C;
            }
        &:hover {
                border-bottom: solid 3px #99895C;
            }
		  }
	   }
}

/*.tn-contact {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .03rem;
  border-right: 1px solid #99895C;
  &:last-child {
    border-right: none;
  }
}*/

.contact-frame {
  height: 15rem;
  padding-top: 2rem;
  background: url(images/section_back4.jpg) no-repeat top center fixed;
  background-size: contain;
  @media (max-width: 1230px) {
    background-size: cover;
  }
}

.favorites-frame {
  height: 15rem;
  padding-top: 2rem;
  background: url(images/section_back4.jpg) no-repeat top center fixed;
  background-size: contain;
  @media (max-width: 1230px) {
    background-size: cover;
  }
}

.blog-frame {
  height: 15rem;
  padding-top: 4rem;
  background: url(images/section_back4.jpg) no-repeat top center fixed;
  background-size: contain;
  @media (max-width: 1230px) {
    background-size: cover;
  }
}

.press-frame {
  height: 15rem;
  padding-top: 4rem;
  background: url(images/section_back6.jpg) no-repeat top center fixed;
  background-size: contain;
  @media (max-width: 1230px) {
    background-size: cover;
  }
}

.catalog-frame {
  height: 15rem;
  padding-top: 2rem;
  background: url(images/section_back7.jpg) no-repeat top center fixed;
  background-size: contain;
  @media (max-width: 1230px) {
    background-size: cover;
  }
}

.collection-frame {
  height: 15rem;
  padding-top: 4rem;
  background: url(images/section_back8.jpg) no-repeat top center fixed;
  background-size: contain;
  @media (max-width: 1230px) {
    background-size: cover;
  }
}

.header-nav-sub {
  display: none;
  position: absolute;
  min-width: 76px;
  top: 16px;
  margin-left: 0;
  padding-left: 0;
  background: #fff;
  text-align: left;
  z-index: 4;
  border-top: 2px solid #000;
}

.wrapper {
  // padding-top: 170px;
  @media (max-width: 600px) {
    padding-top: 6px;
  }
  @media (max-width: 480px) {
    padding-top: 0;
  }
}
.shrinky .wrapper {
  padding-top: 153px;
}

.top-search {
	width: 100px;
}

.bigcopy-light {
  font-size: 3rem;
  color: #fff;
  line-height: 3rem;
  font-family: "Tinos", serif;
  font-style: italic;
}

.bigcopy-dark {
  font-size: 3.3rem;
  color: #333;
  line-height: 3.5rem;
  font-family: "Tinos", serif;
  font-style: italic;
}

/*--------- HOME --------------*/

.tile {
	display: block;
	padding: 3em 0;
	img {
	 width: 100%;
	}
}

.tile.hero-contain {
	padding-top: 0;
}

.about-home {
  padding: 2rem 0 0rem 0;
  @media (max-width: 480px) {
    text-align: center;
  }
}

.home-tile {
  padding: 2rem 0 2rem 0;
}

.hometype { font-size: 1rem; }

.lead {
  /*width: 360px;*/
  height: 100%;
  bottom: 0;
  left: 0;
  margin: 2rem 0;
  top: 0;
  right: 0;
}

.learn {
  //nothing?
}

/*-------- BLOG ------------*/

.blog-contain {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blog-item:nth-child(odd) .columns {
	float: right
}

.blog-item p { padding: 2rem 0; }

/*------- CATALOG ----------*/
#container {
	width: 100%;
}

.catalog-contain {
  margin-top: 1%;
  opacity:0;
}

.catalog-contain.loaded {
  opacity: 1;
  @include transition('opacity', '0.3s');
}

.gutter-sizer {
	width: 1%
}

.gutter-sizer-press {
  width: 2.5%;
}

.item {
	width: 32.66%;
    margin-bottom: 1rem;
	@include bp(jon) {
	  width: 49.48%;
	}
	@include bp(rickon) {
	  width: 99%;
	}
  img {
  	width: 100%;
  }
}

.item-info {
	padding: 1.5rem 0 0 0;
	img {
		opacity: 1;
		@include transition('opacity', '0.3s');
	}
}

.item:hover {
	img {
		opacity: .8;
	}
}

.cat-sub-contain {
	padding: 1rem 0 .5rem 0;
	margin-bottom: 2rem;
	ul {
		li {
      font-size: .6rem;
      text-transform: uppercase;
      letter-spacing: .04rem;
			list-style: none;
			float: left;
			padding-left: 1rem;
		}
	}
}

.cat-item-title { font-size: .8rem; }

/*------- PRODUCT DETAIL -------*/

.roller {
  /*background: #fff;*/
  height: 20%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
@include bp(rickon) {
  }
}

.item:hover .roller, .item:hover .product-title-overlay {
  opacity: 1;
  color: #99895C;
  -o-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -khtml-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 100;
  @media (max-width: 960px) {
    // display: none;
  }
  @media (max-width: 768px) {
    // display: none;
  }
  @media (max-width: 600px) {
    // display: none;
  }
  @include bp(rickon) {
  }
}


.product-title-overlay {
  button, a {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
}

.product-title-overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 40px;
@include bp(rob) {
        opacity: 1;
		}
@include bp(jon) {
        opacity: 1;
		}
@include bp(bran) {
        opacity: 1;
		}
@include bp(rickon) {
        opacity: 1;
		}
}

.product-info-sticky {
	position: fixed;
	top: 100px;
	width: 100%;
	left: 0;
}

.pd-req {
	margin: .75rem 0;
	width: 100%;
}

.product-det-img {
	margin-bottom: 1rem;
    width: 100%;
}

.sharing-contain {
	padding: 1rem 0;
	border-top: 1px solid #eee;
}

.share-title {
	display: block;
	width: 100%;
	padding: .5rem;
	text-align: center;
}

.share-icon {
	width: 24%;
}

.buy-btns { margin-top: 2.5rem; }

/*------- COLLECTION ---------*/

.collection-contain article {
	margin-bottom: 3rem;
	img {
		width: 100%;
	}
}

.coll-view {
	width: 100%;
}

/*------- FAVORITES -----------*/
.favorites-contain {
	.item-info {
		padding: 0;
	}
	.ask-for-price {
		/*background: #e3e3e3;*/
        margin: 1rem 0;
		display: block;
		text-align: center;
		width: 100%;
		a {
		display: inline-block;
		width: 100%;
		height: 100%;
		}
	}
	h3 {
		font-size: 1rem;
	}
	.closer {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 1rem;
		z-index: 99;
	}
}

/*------- FORMS -----------*/

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    font-family: inherit;
    border: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: block;
    font-size: 0.7rem;
    margin: 0 0 1rem 0;
    padding: .3 rem;
    height: 2.3125rem;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
        color: #000;
      border-color: #99895C;
      background: #fff;
      outline: none;
    }
}

/*------- PRESS ------------*/

.press-item {
	border: 1px solid #e3e3e3;
	padding-bottom: 40px;
}

.press-contain {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.press-contain .item {
	width: 23%;
	@include bp(rob) {
    width: 32%;
  }
	@include bp(jon) {
    width: 49%;
  }
	@include bp(rickon) {
    width: 99%;
  }
}

.excerpt-title {
  font-size: 1.5rem;
}

.press-excerpt {
	padding: 1rem;
}

.excerpt-quote {
	font-style: italic;
}

.read-more {
	display: block;
	width: 90%;
	position: absolute;
	bottom: 10px;
	.arrow {
		float: right;
	}
}



/*------- FOOTER -----------*/

/* home footer */

.foot-push {
  padding-top: 1rem;
}

#copyright {
    font-size: .7rem;
    font-weight: 100;
    margin-top: 2rem;
    padding: .8rem;
    width: 100%;
    text-align: center;
    background: url('images/wood_1.png') repeat;
    border-top: solid 1px #222;
    position: absolute;
}

.footbut { padding-bottom: 1rem; }

.colophon {
  height: 20rem;
    font-weight: 100;
  color: #ccc;
}

.colophon h3 {
  color: #fff;
}

.horiz {
  padding-top: 1rem;
}

.home_sign_up_contain {
    background: #f8f8f8;
    // border-top: 1px solid #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    color: #99895C;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .03rem;
	padding: 1em 0;
	text-align: center;
	input[type="email"] {
        border: 1px solid #99895C;
        color: #99895C;
        background: #fff;
        text-transform: uppercase;
        letter-spacing: .03rem;
		width: 15rem;
		display: inline;
		margin: 1rem 20px;
	}
    .btn { 
        // border: solid 1px #fff;
        padding: .7rem 2rem; 
        // &:hover { background: #fff; color: #99895C;}
    }
}

.subfooter {
  background: url('images/wood_1.png') repeat;
//    background: #99895C;
    padding-bottom: 3rem;
}

.home_foot {
  padding-top: 5rem;
}

.hf-1 {
  text-align: center;
}

.hf-1 a {
	display: inline-block;
	padding-right: 1em;
}

.hf-2, .hf-3 {
	text-align: center;
    a {
		/*display: block;*/
       // color: #fff;
		font-size: 1.1rem;
        font-weight: 100;
	}
	p {
        font-weight: 100;
	}
}

.hf-4 {
	text-align: center;
	img {
		margin: .5em 0;
	}
	a {
		/*display: block;*/
        // color: #fff;
		font-size: 2.5rem;
        padding: .5rem;
	}
}

.footer-contain .hf-4 {
		input[type="text"] {
		width: 133px;
		display: inline;
		margin: 0 10px;
	}
	button {
		padding: .25rem;
	}
}

.row-home-foot {
	img {
		display: block;
	}
}

/*end home footer */


/* BX SLIDER CSS */
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	/*left: -5px;*/
	background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #fff;
	padding-top: 20px;
    z-index: 4000;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	zoom: 1;
	display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #99895C;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-controls-direction {
  @include bp(bran) {
    display:none;
  }
	@include bp(rickon) {
    display:none;
  }
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* PAGINATION */

.asinc-pager {
    text-align: center;
    font-size: .7rem;
    clear: both;
    padding: .7rem 1.5rem 1.5rem 1.5rem;
    @include bp(rickon) {
		}
}

.asinc-pager a {
    //border: solid 1px #99895C;
    padding: .7rem 1.2rem;
    background: white;
    @include transition('background', '0.3s');
}

.asinc-pager a:hover {
    background: #99895C;
    color: #fff;
}

.asinc-pager span.current {
    font-size: .8rem;
    background: #99895c;
    color: #fff;
    //border: solid 1px #99895C;
    padding: .7rem 1.2rem;
    margin: 0 3px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}


/* ADDED bx slider STYLES */

.slide-contain {
	position: relative;

	.slide-nav {
		background: #fff;
		height: 60px;
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
		z-index: 99;
		span {
			float: left;
			height: 100%;
			width: 50%;
			&.slide-prv {
				background: url(images/prev_btn.jpg) no-repeat center center;
				border-right: 1px solid #e3e3e3;
			}
			&.slide-nxt {
				background: url(images/next_btn.jpg) no-repeat center center;

			}
		}
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			text-indent: -9000px;
		}
	}
}

.home-product-slide-contain {
	.columns {
		padding: 0;
	}
	img {
		width: 100%;
	}

	.products-slide-left-col {
		img:first-child {
			border-bottom: 1px solid #fff;
		}
	}

	.products-slide-right-col {
		border-left: 1px solid #fff;
	}
}
